<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<!-- 
		personAction,personServiceImpl,personDaoImpl放入到spring容器中
	 -->
	<bean id="personAction" class="com.itheima08.spring.mvc.action.PersonAction">
		<property name="personService">
			<ref bean="personService"/>
		</property>
	</bean>
	<bean id="personService" class="com.itheima08.spring.mvc.service.impl.PersonServiceImpl">
		<property name="personDao">
			<ref bean="personDao"/>
		</property>
	</bean>
	<bean id="personDao" class="com.itheima08.spring.mvc.dao.impl.PersonDaoImpl"></bean>
</beans>