<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="helloWorld" 
		class="com.itheima08.spring.ioc.createobejct.method.HelloWorld"></bean>
	<!-- 
		把helloWorldFactory引入到spring容器中
		factory-method
		   	指定工厂方法
	 -->
	<bean id="helloWorld2" class="com.itheima08.spring.ioc.createobejct.method.HelloWorldFactory"
		factory-method="getInstance"></bean>
	<!-- 
		把helloWorldFactory2引入到spring容器中
	 -->
	<bean id="helloWorldFactory2" class="com.itheima08.spring.ioc.createobejct.method.HelloWorldFactory2">
	</bean>
	
	<!-- 
		factory-bean 指向工厂bean
		factory-method 指向实例工厂的方法
	 -->
	<bean id="helloWorld3" factory-bean="helloWorldFactory2" factory-method="getInstance"></bean>
</beans>